
  
#Provide your Static authentication token below
REACT_APP_VIDEOSDK_TOKEN = ""

#OR

#Provide your authentication server base url (use same IP for frontend and backend)
REACT_APP_AUTH_URL = "http://192.168.0.130:3000"

#Any one value from above is mandatory for testing purpose
#For production deployment, we recommend using an Authentication server instead of static token